
progress-00/Senin, 4 November 2024.aux
progress-00/Senin, 4 November 2024.fdb_latexmk
progress-00/Senin, 4 November 2024.fls
progress-00/Senin, 4 November 2024.log
progress-00/Senin, 4 November 2024.out
progress-00/Senin, 4 November 2024.toc
progress-00/Senin, 4 November 2024.synctex.gz
progress-00/Senin, 4 November 2024.synctex.gz
